.card-container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 40px 50px;
	margin: 50px 0px;
}


.App{
  max-width: 100%;
}

.card{
  width:20rem;
  background-color: rgb(23, 24, 24);
}

a{
  margin-left: 5px;
  color:rgb(53, 167, 167);
  text-decoration: none;
}